GITHUB_TOKEN=
FLASK_SECRET_KEY=change-me
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_SLUG=
GITHUB_APP_PRIVATE_KEY_PATH=github-app.private-key.pem
# GITHUB_APP_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----
PORT=5000
